body {
    width: 300px;
}

main {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.title {
    color: black;
}

#newURL {
    margin-top: 10px;
    width: 80%;
}

.buttons-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cancel {
    margin: 0 10px;
    background-color: aquamarine;
    flex-basis: 50%;
}

#nextLevel {
    margin: 0 10px;
    background-color: coral;
    flex-basis: 50%;
}